.about-us-information {
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(233, 233, 226);
}
.about-us-text {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}
