.registration-heading {
  color: rgb(39, 39, 39);
}
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-bottom: 24px;
  padding: 24px;
  color: #fff;
}

.registration-login-input {
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: 1px solid black;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid #ffffff;
}

.btn-register {
  padding: 8px 20px;
  font-size: 18px;
  padding: 8px 20px;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
}
